/* 화면 전체 */
body {
    background-color: #fff;
    font-family: Lexend Deca;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* 상단 바 */
.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box; 
}
